<div class="text-center mb-5 mt-5">
  <div class="display-6">Estudantes</div>
  <div class="mb-5 mt-5"><button (click)="open(CadastrarStudent)" (click)="limpar()" type="button"
      class="btn btn-outline-dark me-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Cadastrar</button></div>
</div>

<div class="d-flex justify-content-center align-items-center border-top">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">CPF</th>
        <th scope="col">Endereço</th>
        <th scope="col" class="teste">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td scope="row">{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.email}}</td>
        <td>{{student.cpf}}</td>
        <td>{{student.location}}</td>
        <td>
          <button (click)="open(EditarStudent)" class="btn btn-outline-primary me-1"
            (click)="edit(student)">Editar</button>
          <button class="btn btn-outline-danger" (click)="delete(student)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #CadastrarStudent let-modal>
  <div class="text-center mt-3">
    <h4 class="display-6">Cadastrar Estudante</h4>
  </div>
  <div class="modal-body">
    <div class="row modal-footer">
      <div class="col-8 m-auto">
        <form [formGroup]="formGroupStudent">
          <div class="mb-3">
            <label for="name" class="form-label">Nome:</label>
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Nome aqui!">

            <div *ngIf="submitted && name.invalid">
              <small class="text-danger">Nome Invalido!</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Email:</label>
            <input type="text" formControlName="email" class="form-control" id="description" placeholder="Email aqui!">

            <div *ngIf="submitted && email.invalid">
              <small class="text-danger">Email Invalido!</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="supplier" class="form-label">CPF:</label>
            <input type="text" formControlName="cpf" class="form-control" id="supplier" placeholder="CPF aqui!">

            <div *ngIf="submitted && cpf.invalid">
              <small class="text-danger">CPF Invalido!</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="amont" class="form-label">Endereço:</label>
            <input type="text" formControlName="location" class="form-control" id="amont" placeholder="Endereço aqui!">

            <div *ngIf="submitted && location.invalid">
              <small class="text-danger">Endereço Invalido!</small>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-secondary" (click)="modal.close()" (click)="limpar()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="save()" (click)="fecharModal()">Salvar</button>
  </div>
</ng-template>

<ng-template #EditarStudent let-modal>
  <div class="text-center mt-3">
    <h4 class="display-6">Editar Estudante</h4>
  </div>
  <div class="modal-body">
    <div class="row modal-footer">
      <div class="col-8 m-auto">
        <form [formGroup]="formGroupStudent">
          <div class="mb-3">
            <label for="name" class="form-label">Nome:</label>
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Nome aqui!">

            <div *ngIf="submitted && name.invalid">
              <small class="text-danger">Nome Invalido!</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Email:</label>
            <input type="text" formControlName="email" class="form-control" id="description" placeholder="Email aqui!">

            <div *ngIf="submitted && email.invalid">
              <small class="text-danger">Email Invalido!</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="supplier" class="form-label">CPF:</label>
            <input type="text" formControlName="cpf" class="form-control" id="supplier" placeholder="CPF aqui!">

            <div *ngIf="submitted && cpf.invalid">
              <small class="text-danger">CPF Invalido!</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="amont" class="form-label">Endereço:</label>
            <input type="text" formControlName="location" class="form-control" id="amont" placeholder="Endereço aqui!">

            <div *ngIf="submitted && location.invalid">
              <small class="text-danger">Endereço Invalido!</small>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-secondary" (click)="modal.close()" (click)="limpar()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="save()" (click)="fecharModal()">Salvar</button>
  </div>
</ng-template>
